@charset "UTF-8";


.header{
	background-color: gray;
}

.login{
	padding: 10px;
	color: white;
	/* float:left; */
}
.time{
	padding: 10px;
	font-size: 10px;
}
.name{
	padding-top: 50px;
	padding-bottom: 50px;
	
}

.footer{
	background-color: gray;
}

.footertext{
	display: inline-block;
	padding: 10px;
	color: white;
}

