.header{
    background-color: #141f40;
    height:100px;
    width:400px
}
.header-box{
    height:60px;
    width:160px;
    background-color: white;
    float:right;
    margin: 20px 20px 20px 20px;
}
.box-left{
    height:40px;
    width:40px;
    background-color: #a9004b;
    margin:10px 5px 10px 10px ;
    float: left;
}
.box{
    background-color: #a9004b;
    height:40px;
    width:40px;
    margin:10px 5px 10px 5px ;
    float: left;
}
.box-right{
    background-color: #a9004b;

    height:40px;
    width:40px;
    margin:10px 10px 10px 5px;
    float:left;
}

.main{
    height:250px;
    width:400px;
}
.left{
    background-color: #80bfa8;
    height:250px;
    width:150px;
    float:left;
}
.right{
    background-color: #8c2727;
    height:250px;
    width:250px;
    float:left;
}


.right-innner-upper{
    height:40px;
    width:140px;
    background-color: #ff863f;
    float:left;
    margin:40px 60px 5px 40px;
    border: 5px solid #eee;

}


.right-innner{
    height:40px;
    width:140px;
    background-color: #ff863f;
    float:left;
    margin:5px 60px 5px 40px;
    border: 5px solid #eee;
}



.right-innner-lower{
    height:40px;
    width:140px;
    background-color: #ff863f;
    float:left;
    margin:5px 60px 40px 40px;
    border: 5px solid #eee; 
}

.footer{
    background-color: #d98d30;
    height:100px;
    width:400px;
     
}


